<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"
/>

<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="/stylesheets/responsive.css">
<link rel="icon" href="/images/favicon.ico" sizes="any">
<link rel="icon" type="image/jpeg" href="/images/logo.jpeg" sizes="32x32">
  <title>Market Munch Digital | Digital Marketing Agency</title>

<meta name="description"
      content="Market Munch Digital helps businesses grow with SEO, Social Media Marketing, Performance Marketing, Website Development and Branding.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">
    </script>
</head>
<body>  
     
<%- include('header') %>

<div id="app"></div>

<%- include('footer') %>

<script src="/javascripts/home.js"></script>
</body>
</html>